body{
  color: darkslategray;
  font-family: arial, sans-serif;
  font-size: 17px;
}
h1 {
  text-aling: center;
  font-size: 30px;
}
h2{
  background-color: lightskyblue;
  font-zise: 24px;
}
a:visited, h1, h2,{
  color: darkblue;
}
a, a:visited{
  text-decoration: none;
}
h3:hover , li:hover a{
  text-decoration: underline;
}

h1 a{
  color: white;
}
h2 a{
  color: lightskyblue;
}
h1:hover a, h2:hover a{
  color: darkblue;
}
.text-center{
  text-align: center;
}